openai
tiktoken==0.9.0
rouge==1.0.1
torch==2.0.1
transformers==4.43.3
flash-attn==2.5.6
accelerate==1.3.0
datasets==3.6.0
evaluate==0.4.3
einops==0.8.0
xopen
python-dotenv
numpy==1.26.4
tqdm==4.67.1
sentencepiece==0.2.0
protobuf==5.29.3
safetensors==0.5.2